/**
 * FCCN Share theme
 * A simple theme for Pico CMS to display static documents
 *
 * @version 1.0
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --background-color: #ffffff;
    --primary-text-color: #24292E;
    --secondary-text-color: #13AAC4;
    --menu-selector-color: #2BA948;
    --highlight-bg-color: #000;
    --highlight-text-color: #000;
    --border-code-color: #c7c7c7;
    --background-code-color: #F2F2F2;
    --header-underline: #D9D9D9;
    --footer-background: #24292E;
    --footer-text-color: #FFFFFF;
    --darkmode-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%234e4e4e' %3E%3Cpath d='M374.031,241.75c-6.671-54.43-49.629-97.28-104.076-103.813c-4.688-0.535-9.402-0.803-14.121-0.804 c-48.118,0.074-91.444,29.154-109.742,73.657c-18.298,44.503-7.957,95.649,26.193,129.548c18.16,17.391,28.56,41.357,28.857,66.5 v13.733h109.714v-13.804c0.083-24.667,10.118-48.256,27.831-65.424c26.754-25.813,39.84-62.686,35.343-99.589V241.75z'/%3E%3Cpath d='M256,512c11.62-0.013,21.975-7.335,25.862-18.286h-51.723C234.025,504.665,244.38,511.987,256,512z'/%3E%3Cpath d='M210.286,466.286c0.007,5.047,4.096,9.136,9.143,9.143h73.143c5.047-0.007,9.136-4.096,9.143-9.143v-27.429h-91.429 V466.286z'/%3E%3Cpath d='M256,82.286c10.099,0,18.286-8.187,18.286-18.286V18.286C274.286,8.187,266.099,0,256,0s-18.286,8.187-18.286,18.286V64 C237.714,74.099,245.901,82.286,256,82.286z'/%3E%3Cpath d='M101.679,127.54c7.236,6.911,18.626,6.911,25.862,0c3.43-3.429,5.357-8.081,5.357-12.931 c0-4.85-1.927-9.502-5.357-12.931L95.214,69.357C91.786,65.927,87.135,64,82.286,64s-9.5,1.927-12.929,5.357 C65.927,72.785,64,77.436,64,82.286s1.927,9.5,5.357,12.929L101.679,127.54z'/%3E%3Cpath d='M82.286,256c0-10.099-8.187-18.286-18.286-18.286H18.286C8.191,237.724,0.01,245.905,0,256 c0.01,10.095,8.191,18.276,18.286,18.286H64C74.099,274.286,82.286,266.099,82.286,256z'/%3E%3Cpath d='M119.356,379.699c-6.32-1.689-13.06,0.126-17.677,4.761l-32.321,32.326c-3.43,3.428-5.357,8.079-5.357,12.929 s1.927,9.5,5.357,12.929c7.234,6.911,18.623,6.911,25.857,0l32.326-32.321c4.634-4.617,6.45-11.357,4.761-17.677 S125.676,381.388,119.356,379.699z'/%3E%3Cpath d='M410.321,384.46c-4.617-4.634-11.357-6.45-17.677-4.761s-11.256,6.625-12.945,12.945s0.126,13.06,4.761,17.677 l32.326,32.321c7.234,6.911,18.623,6.911,25.857,0c3.43-3.428,5.357-8.079,5.357-12.929s-1.927-9.5-5.357-12.929L410.321,384.46z '/%3E%3Cpath d='M493.714,237.714H448c-10.099,0-18.286,8.187-18.286,18.286s8.187,18.286,18.286,18.286h45.714 c10.099,0,18.286-8.187,18.286-18.286S503.813,237.714,493.714,237.714z'/%3E%3Cpath d='M410.321,127.54l32.321-32.326c4.619-4.619,6.423-11.351,4.732-17.661c-1.691-6.31-6.619-11.238-12.929-12.929 c-6.31-1.691-13.042,0.113-17.661,4.732l-32.326,32.321c-3.43,3.429-5.357,8.081-5.357,12.931c0,4.85,1.927,9.502,5.357,12.931 C391.695,134.451,403.086,134.451,410.321,127.54z'/%3E%3C/svg%3E");
    --header-shape: url("data:image/svg+xml,%3Csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 190' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop stop-color='rgba(226, 238, 229, .3)' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='rgba(181, 209, 188, .7)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,57L240,63.3C480,70,960,82,1440,72.8C1920,63,2400,32,2880,22.2C3360,13,3840,25,4320,38C4800,51,5280,63,5760,72.8C6240,82,6720,89,7200,85.5C7680,82,8160,70,8640,82.3C9120,95,9600,133,10080,133C10560,133,11040,95,11520,91.8C12000,89,12480,120,12960,117.2C13440,114,13920,76,14400,69.7C14880,63,15360,89,15840,101.3C16320,114,16800,114,17280,117.2C17760,120,18240,127,18720,133C19200,139,19680,146,20160,145.7C20640,146,21120,139,21600,114C22080,89,22560,44,23040,44.3C23520,44,24000,89,24480,98.2C24960,108,25440,82,25920,69.7C26400,57,26880,57,27360,57C27840,57,28320,57,28800,47.5C29280,38,29760,19,30240,28.5C30720,38,31200,76,31680,98.2C32160,120,32640,127,33120,136.2C33600,146,34080,158,34320,164.7L34560,171L34560,190L34320,190C34080,190,33600,190,33120,190C32640,190,32160,190,31680,190C31200,190,30720,190,30240,190C29760,190,29280,190,28800,190C28320,190,27840,190,27360,190C26880,190,26400,190,25920,190C25440,190,24960,190,24480,190C24000,190,23520,190,23040,190C22560,190,22080,190,21600,190C21120,190,20640,190,20160,190C19680,190,19200,190,18720,190C18240,190,17760,190,17280,190C16800,190,16320,190,15840,190C15360,190,14880,190,14400,190C13920,190,13440,190,12960,190C12480,190,12000,190,11520,190C11040,190,10560,190,10080,190C9600,190,9120,190,8640,190C8160,190,7680,190,7200,190C6720,190,6240,190,5760,190C5280,190,4800,190,4320,190C3840,190,3360,190,2880,190C2400,190,1920,190,1440,190C960,190,480,190,240,190L0,190Z'%3E%3C/path%3E%3C/svg%3E");
}

[data-theme="dark"] {
    --background-color: #242924;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000;
    --menu-selector-color: #2BA948;
    --highlight-bg-color: #000;
    --highlight-text-color: #000;
    --border-code-color: #4e4e4e;
    --background-code-color: #101214;
    --header-underline: #4e4e4e;
    --footer-background: #1f221f;
    --footer-text-color: #FFFFFF;
    --darkmode-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23ffffff' %3E%3Cpath d='M374.031,241.75c-6.671-54.43-49.629-97.28-104.076-103.813c-4.688-0.535-9.402-0.803-14.121-0.804 c-48.118,0.074-91.444,29.154-109.742,73.657c-18.298,44.503-7.957,95.649,26.193,129.548c18.16,17.391,28.56,41.357,28.857,66.5 v13.733h109.714v-13.804c0.083-24.667,10.118-48.256,27.831-65.424c26.754-25.813,39.84-62.686,35.343-99.589V241.75z'/%3E%3Cpath d='M256,512c11.62-0.013,21.975-7.335,25.862-18.286h-51.723C234.025,504.665,244.38,511.987,256,512z'/%3E%3Cpath d='M210.286,466.286c0.007,5.047,4.096,9.136,9.143,9.143h73.143c5.047-0.007,9.136-4.096,9.143-9.143v-27.429h-91.429 V466.286z'/%3E%3Cpath d='M256,82.286c10.099,0,18.286-8.187,18.286-18.286V18.286C274.286,8.187,266.099,0,256,0s-18.286,8.187-18.286,18.286V64 C237.714,74.099,245.901,82.286,256,82.286z'/%3E%3Cpath d='M101.679,127.54c7.236,6.911,18.626,6.911,25.862,0c3.43-3.429,5.357-8.081,5.357-12.931 c0-4.85-1.927-9.502-5.357-12.931L95.214,69.357C91.786,65.927,87.135,64,82.286,64s-9.5,1.927-12.929,5.357 C65.927,72.785,64,77.436,64,82.286s1.927,9.5,5.357,12.929L101.679,127.54z'/%3E%3Cpath d='M82.286,256c0-10.099-8.187-18.286-18.286-18.286H18.286C8.191,237.724,0.01,245.905,0,256 c0.01,10.095,8.191,18.276,18.286,18.286H64C74.099,274.286,82.286,266.099,82.286,256z'/%3E%3Cpath d='M119.356,379.699c-6.32-1.689-13.06,0.126-17.677,4.761l-32.321,32.326c-3.43,3.428-5.357,8.079-5.357,12.929 s1.927,9.5,5.357,12.929c7.234,6.911,18.623,6.911,25.857,0l32.326-32.321c4.634-4.617,6.45-11.357,4.761-17.677 S125.676,381.388,119.356,379.699z'/%3E%3Cpath d='M410.321,384.46c-4.617-4.634-11.357-6.45-17.677-4.761s-11.256,6.625-12.945,12.945s0.126,13.06,4.761,17.677 l32.326,32.321c7.234,6.911,18.623,6.911,25.857,0c3.43-3.428,5.357-8.079,5.357-12.929s-1.927-9.5-5.357-12.929L410.321,384.46z '/%3E%3Cpath d='M493.714,237.714H448c-10.099,0-18.286,8.187-18.286,18.286s8.187,18.286,18.286,18.286h45.714 c10.099,0,18.286-8.187,18.286-18.286S503.813,237.714,493.714,237.714z'/%3E%3Cpath d='M410.321,127.54l32.321-32.326c4.619-4.619,6.423-11.351,4.732-17.661c-1.691-6.31-6.619-11.238-12.929-12.929 c-6.31-1.691-13.042,0.113-17.661,4.732l-32.326,32.321c-3.43,3.429-5.357,8.081-5.357,12.931c0,4.85,1.927,9.502,5.357,12.931 C391.695,134.451,403.086,134.451,410.321,127.54z'/%3E%3C/svg%3E");
    --header-shape: url("data:image/svg+xml,%3Csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 190' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop stop-color='rgba(78, 78, 78, .3)' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='rgba(78, 78, 78, .5)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,57L240,63.3C480,70,960,82,1440,72.8C1920,63,2400,32,2880,22.2C3360,13,3840,25,4320,38C4800,51,5280,63,5760,72.8C6240,82,6720,89,7200,85.5C7680,82,8160,70,8640,82.3C9120,95,9600,133,10080,133C10560,133,11040,95,11520,91.8C12000,89,12480,120,12960,117.2C13440,114,13920,76,14400,69.7C14880,63,15360,89,15840,101.3C16320,114,16800,114,17280,117.2C17760,120,18240,127,18720,133C19200,139,19680,146,20160,145.7C20640,146,21120,139,21600,114C22080,89,22560,44,23040,44.3C23520,44,24000,89,24480,98.2C24960,108,25440,82,25920,69.7C26400,57,26880,57,27360,57C27840,57,28320,57,28800,47.5C29280,38,29760,19,30240,28.5C30720,38,31200,76,31680,98.2C32160,120,32640,127,33120,136.2C33600,146,34080,158,34320,164.7L34560,171L34560,190L34320,190C34080,190,33600,190,33120,190C32640,190,32160,190,31680,190C31200,190,30720,190,30240,190C29760,190,29280,190,28800,190C28320,190,27840,190,27360,190C26880,190,26400,190,25920,190C25440,190,24960,190,24480,190C24000,190,23520,190,23040,190C22560,190,22080,190,21600,190C21120,190,20640,190,20160,190C19680,190,19200,190,18720,190C18240,190,17760,190,17280,190C16800,190,16320,190,15840,190C15360,190,14880,190,14400,190C13920,190,13440,190,12960,190C12480,190,12000,190,11520,190C11040,190,10560,190,10080,190C9600,190,9120,190,8640,190C8160,190,7680,190,7200,190C6720,190,6240,190,5760,190C5280,190,4800,190,4320,190C3840,190,3360,190,2880,190C2400,190,1920,190,1440,190C960,190,480,190,240,190L0,190Z'%3E%3C/path%3E%3C/svg%3E");
}

* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden { display: none !important; }
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; 
}

.slide {
    overflow-y: hidden !important;
    -webkit-transition: height .5s ease-in !important;
            transition: height .5s ease-in !important;
}

/*** BASIC LAYOUT ***/

html, body { height: 100%; }

body { 
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

#main { flex: 1 0 auto; }
#header, #footer { flex: 0 0 auto; }

#main {
    padding: 5em 0 4em;
}

.container {
    max-width: 58em;
    padding: 0 0.5em;
    margin: 0 auto;
}
.widescreen .container { max-width: 72em; }

/* very ugly overflow fix, avoid this whenever possible! */
#main .container { overflow-x: auto; }

/*** BASIC LAYOUT: HEADER ***/

#header {
    color: var(--primary-text-color);
    background: var(--background-color);
    -webkit-box-shadow: 2px 9px 25px -10px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 9px 25px -10px rgba(0,0,0,0.10);
    box-shadow: 2px 9px 25px -10px rgba(0,0,0,0.10);
}

#page-title {
   background-image: var(--header-shape);
   background-repeat: none;
   background-size: cover;
   height: 15rem;
}

#page-title h1 {
    padding: 2.6rem 0 1.3rem;
    color: var(--primary-text-color);
}

#title, #logo {
    float: left;
    padding: 1.2em 2em 1.2em 0;
}

#title a:hover {
    text-decoration: none;
}

#title { margin: 0; }
#title p { font-style: italic; }

#title span.site-title { margin: 0; display: inline-block; }

#logo img { display: block; height: 100%; }

#logo + #title.tagline span.site-title { margin: 0; }

#nav {
    padding: 1.6rem 0;
    text-align: right;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline-block;
    padding: 0;
    font-weight: 400;
}

#nav a, 
#nav-toggle { 
    color: var(--primary-text-color);
    padding: .5rem;
    opacity: 1;
}

#nav .active a {
    border-bottom: solid 3px var(--menu-selector-color);
} 
#nav a:hover, 
#nav-toggle:hover { 
    opacity: .6;
    border-bottom: solid 3px var(--menu-selector-color);
    text-decoration: none;
}

#nav-toggle { display: none; }


#nav-toggle .icon-menu span.dash {
    display: inline-block;
    height: .25rem;
    background-color: var(--primary-text-color);
    width: 1.8rem;
    margin-bottom: .4rem;
}

/* IE8 + IE9 clearfix */
#header > .container:after {
    content: '';
    display: block;
    clear: both;
}

#header .separator {
    border-bottom: solid 1px var(--header-underline);
    height: 0;
    z-index: 6;
    display: block;
}

/*** BASIC LAYOUT: FOOTER ***/

#footer {
    margin-block-start: 3rem;
}

#footer a { color: #ddd; }
#footer a:hover { color: #fff; }

#footer p {
    margin: 0;
    padding-block-end: 0.35rem;
}

#footer .social {
    float: right;
    padding: 1.5em 0 1.5em 1em;
    font-size: 2rem;
}

#footer .footer-unit-information {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 3.3rem;
}
#footer .footer-unit-information .entity-information {
    font-weight: 500;
}

#footer .footer-copyright {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    padding: 2.5rem;
}

#footer .footer-copyright .copyright-information {
    font-size: 0.8rem;
    padding: 1rem;
}

#footer .footer-copyright .footer-copyright-logos {
    display: flex;
}

@media (max-width: 767px) {
    #footer .footer-copyright .footer-copyright-logos {
        flex-direction: column;
    }
}

#footer .footer-copyright .footer-copyright-logos img {
    max-height: 4.5rem;
    display: inline-block;
    margin-block-start: 1.5rem;
    margin-inline-end: 2rem;
}

article {
    display: block;
    width: 100%;
}

/*** BASIC LAYOUT: EXTRA SMALL DEVICES ***/

@media (max-width: 767px) {
    #main { padding: 2em 0 1em; }

    #title, #logo { padding: 2em 1.5em 2em 0; }
    #logo { height: 8.8em; }

    #nav {
        clear: both;
        padding: 0;
    }
    #nav ul {
        padding-bottom: 1em;
    }
    #nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    #nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js #nav-toggle {
        display: block;
        margin: 0.6667em 0;
        float:right;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
        margin-block-start: 5rem;
        margin-inline-start: 1rem;
    }
    .js #nav-toggle .icon-menu {
        display: flex;
        flex-direction: column;
    }
    .js #nav-toggle > * { vertical-align: middle;  }

    #footer p { padding: 1em 0; }
    #footer .social { padding: 0.5em 0 0.5em 1em; }
}

/*** TYPOGRAPHY ***/

html { font-size: 16px; }

body {
    font-family: 'Roboto', 'Helvetica', 'Verdana', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: var(--primary-text-color);
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p, hr, table, .table-responsive, ol, ul, dl, dd, pre, blockquote, fieldset {
    margin-bottom: 1em;
}

a {
    color: var(--menu-selector-color);
    text-decoration: none;
    -webkit-transition: color .2s ease-in;
            transition: color .2s ease-in;
}
a:hover { text-decoration: underline; }

strong {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: var(--primary-text-color);
}
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; font-weight: normal; font-style: italic; }

img { max-width: 100%; }

hr {
    border: 0.15em solid #f5f5f5;
    border-radius: 0.3em;
    background: #f5f5f5;
}

abbr { text-decoration: underline dotted; }

/*** UTILITIES ***/

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

.image { display: block; margin: 0 auto; }
.image.xsmall { width: 20%; }
.image.small { width: 40%; }
.image.large { width: 60%; }
.image.xlarge { width: 80%; }
.image.float-left { float: left; margin: 1em 2em 1em 0; }
.image.float-right { float: right; margin: 1em 0 1em 2em; }
.image img { display: block; width: 100%; }

@media (max-width: 767px) {
    .image.xsmall { width: 60%; }
    .image.small { width: 80%; }
    .image.large, .image.xlarge { width: 100%; }
    .image.float-left, .image.float-right { float: none; margin: 0 auto; }
}

/*** TABLES ***/

table { border-spacing: 0; }

td, th {
    padding: 0.4em 1em;
    vertical-align: top;
}
th {
    font-weight: 500;
    text-align: center;
    background: #f5f5f5;
    color: #333;
}

table caption {
    font-weight: 500;
}

td, th {                                         border: 1px solid #ccc; }
tr:not(:last-child) td, tr:not(:last-child) th { border-bottom: 0 none; }
thead tr:last-child th {                         border-bottom: 0 none; }
td:not(:last-child), th:not(:last-child) {       border-right: 0 none; }

tr:first-child td:first-child, tr:first-child th:first-child { border-top-left-radius: 0.3em; }
tr:first-child td:last-child, tr:first-child th:last-child {   border-top-right-radius: 0.3em; }
tbody tr:last-child td:first-child {                           border-bottom-left-radius: 0.3em; }
tbody tr:last-child td:last-child {                            border-bottom-right-radius: 0.3em; }
table thead + tbody tr:first-child td {                        border-radius: 0 !important; }

.table-responsive { overflow-x: auto; }
.table-responsive > table { margin-bottom: 0; }

/*** LISTS ***/

ol, ul {
    list-style-position: outside;
    padding-left: 1.5em;
}
ol { padding-left: 2.5em; }
li { padding-left: 0.5em; }

dt { font-weight: bold; }
dd { margin-left: 2em; }

/*** CODE ***/

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid var(--border-code-color);
    border-radius: 0.3em;
    background: var(--background-code-color);
    font-family: 'Droid Sans Mono', 'Courier New', 'Courier', monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}
pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/*** BLOCKQUOTE ***/

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

/*** FORMS ***/

label, fieldset legend { font-weight: bold; }

input:not([type="checkbox"]):not([type="radio"]), button, select, textarea, fieldset, fieldset legend {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #fff;
    -webkit-transition: none .2s ease-in;
            transition: none .2s ease-in;
    -webkit-transition-property: border-color, background, box-shadow;
            transition-property: border-color, background, box-shadow;
}

input:not([type="checkbox"]):not([type="radio"]), button, select, textarea {
    padding: 0.5em 1em;
    outline: 0 none;
    font-size: 1rem;
}
input:focus:not([type="checkbox"]):not([type="radio"]), button:focus, select:focus, textarea:focus {
    border-color: var(--menu-selector-color);
    box-shadow: 0 0 8px var(--menu-selector-color);
}
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus,
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
    background: #f5f5f5;
    cursor: pointer;
}

textarea, select[multiple] {
    vertical-align: bottom;
    overflow: auto;
}

fieldset {
    padding: 1em;
    background: #f5f5f5;
}
fieldset legend { padding: 0 0.5em; }

fieldset label, fieldset input, fieldset button,
fieldset select, fieldset textarea {
    margin: 0.2em 0.5em;
}
fieldset label:first-child, fieldset input:first-child, fieldset button:first-child,
fieldset select:first-child, fieldset textarea:first-child {
    margin-left: 0;
}
fieldset label:last-child, fieldset input:last-child, fieldset button:last-child,
fieldset select:last-child, fieldset textarea:last-child {
    margin-right: 0;
}

/* Firefox input size fix */
input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/** BRANDING AREA CONTENT **/
.branding {
    display: flex;
    justify-content: space-between;
}

/** PAGE CONTENT **/
.page-content {
    display: flex;
}

#page-toc-container {
    list-style: none;
    width: 16rem;
}

#page-toc-container li a {
    font-size: .8rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

#page-toc-container li a:hover {
    color: var(--menu-selector-color);
}

@media (max-width: 767px) {
    .page-content {
        flex-direction: column;
    }

    .page-content aside {
        order: -1;
    }

    .page-content #page-toc-container {
        padding:0;
        margin-block-end: 2rem;
    }
    
    .page-content #page-toc-container li {
        line-height: 2.5;
    }
}


/** DARK MODE SWITCHER **/
.theme-switcher-wrapper {
  display: flex;
  align-items: center;
}
.theme-switcher-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    background-image: var(--darkmode-icon);
    background-repeat: no-repeat;
    background-position: center;
}

.theme-switcher {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switcher input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--menu-selector-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
