{% extends "base.twig" %}

{% block content %}
<section class="page-content">
    <article>
    {{ content }}
    </article>
</section>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}