{% extends "base.twig" %}

{% block content %}
<section class="page-content">
    <article class="page-main">
    {{ content }}
    </article>
    <aside class="page-toc toc-{% if meta.toc.position == "right"%}right{% else %}left{% endif %}">
        <nav class="page-toc-nav">
            <ul id="page-toc-container">
            </ul>
        </nav>
    </aside>
<section>
{% endblock %}

{% block scripts %}
    <script src="{{ theme_url }}/js/toc.js" type="text/javascript"></script>
    <script>generatePageTOC({{ meta.toc.depth }});</script>
{% endblock %}