{% extends "base.twig" %}

{% block content %}
<section class="page-content">
    <article>
    {{ content }}
    </article>
    <aside>
        <nav class="page-toc">
            <ul id="page-toc-container">
            </ul>
        </nav>
    </aside>
<section>
{% endblock %}

{% block scripts %}
    <script src="{{ theme_url }}/js/toc.js" type="text/javascript"></script>
{% endblock %}