{% extends "base.twig" %}

{% block content %}
<div class="page-content">
    <div class="page-main">
    {{ content }}
    </div>
    <aside class="page-toc toc-{% if meta.toc.position == "right"%}right{% else %}left{% endif %}">
        <nav class="page-toc-nav">
            <ul id="page-toc-container">
            </ul>
        </nav>
    </aside>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ theme_url }}/js/toc.js"></script>
    <script>generatePageTOC({{ meta.toc.depth }});</script>
{% endblock %}